$item_counter_white: $white;
$item_counter_black: $black;
$item_counter_purple-100: $purple-100;
$item_counter_purple-200: $purple-200;
$item_counter_purple-300: $purple-300;
$item_counter_green-400: $green-400;
$item_counter_green-500: $green-500;
$item_counter_green-600: $green-600;
$item_counter_orange-100: $orange-100;
$item_counter_orange-200: $orange-200;
$item_counter_orange-300: $orange-300;