$button_white: $white;
$button_black: $black;
$button_shadow-medium: $shadow-medium;
$button_green-600: $green-600;
$button_green-500: $green-500;
$button_green-400: $green-400;
$button_green-300: $green-300;
$button_red-800: $red-800;
$button_red-900: $red-900;
